main.spec
result/*
data/proxy.csv
data/walletss.txt
modules/__pycache__/
config/__pycache__/
build
venv
*.pyc
data/transfer_token.csv
.DS_Store
data/mnemonic.txt
data/one_time_intermediary.csv
data/private_keys.txt
data/twitter/twitters.csv
data/twitter/twitter_task.csv
config/cex_settings.py
data/walletss_sol.txt
backups/*
result/password_generator.csv
log/*
data/discord_token.txt
db/*
data/email.csv

# PyArmor backup files (original unencrypted versions)
*.backup
modules/statistics/astrum_captcha_solver.py.original