main.spec
result/*
data/proxy.csv
data/walletss.txt
modules/__pycache__/
config/__pycache__/
build
dist
venv
*.pyc
data/transfer_token.csv
.DS_Store
db/transfer_progress.json
data/mnemonic.txt
data/one_time_intermediary.csv
data/private_keys.txt
data/twitter_tokens.csv
db/spot_trade.sqlite
config/cex_settings.py